.location-page{
    display: flex;
}
.delete1 .delete-btn1 {
    width: 75px;
    height: 50px;
    outline: none;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 29%, #e1dada 65%);    
    border: none;
    border-radius: 10%;
}

.delete1 .delete-btn1:hover{
    background: #EC7063;
    font-size:  17px;
}

.delete1{
    margin: 0 -35px;
}

tbody, th{
    text-align :left;
}

@media screen and (max-width: 1300px) {
    .delete1{
        margin: 0 -30px;
    }    
}

@media screen and (max-width: 1300px) {
    .delete1{
        margin: 0 -20px;
    }    
}

@media screen and (max-width: 800px) {
    .delete1{
        margin: 0px;
    }    
}